<div class="panel panel-default savedQueryPanel nonMarginBotPanel">
	<div class="panel-heading">
        <i class="fa fa-building-o fa-fw"></i><b>3D visualisation</b>        
    </div>
    <div class="panel-body 3D_visualisation">
      <div class="list-group">
        <div ng-repeat="query in savedQueries">
          <a href="#" class="list-group-item list-group-item-action" ng-class="query.activeClass" ng-click="clickSavedQuery(query)">
            {{query.name}}
            <label ng-if="query.activeClass =='active'" class="pull-right" ng-click="deleteQuery(query)">X</label>
          </a>
          
        </div>
      
        <!-- <a href="#" class="list-group-item list-group-item-action">
          Cras justo odio
        </a>
        <a href="#"  ng-class="t">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action" ng-class="active">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a> -->
      </div>
        <img src="data/icons/main-class.png" height="16" width="16" ng-click="item.showed = !item.showed"> 
        <!-- <i class="fa fa-folder-o" aria-hidden="true" ng-click="item.showed = !item.showed"></i> -->
        <span ng-class='item.selected' ng-click="clickNavConcept(item)" ng-dblclick="dblClickNavConcept(item)"> {{item.name}}</span>
        <hr class="breakline_classif">
	 <!--<div class="col-md-6">https://www.3dviewer.net/  https://beta.sharecad.org/en/  http://localhost:1234/examples/  http://www.meshlabjs.net/
		<img src="data/images/ess.png" width="450px" height= "270"/>  http://potree.org/potree/examples/viewer.html
  <iframe width="760" height="355" src="http://www.meshlabjs.net/" allowfullscreen> 
    <img src="data/icons/hg.png" height="400" width="800" ng-click="item.showed = !item.showed"> 
    <iframe width="760" height="355" src="https://beta.sharecad.org/viewer#a170c17e-5933-41fa-a0f1-4576f249fde7349" allowfullscreen></iframe>
  </div>-->
	
	<div><iframe width="760" height="355" src="https://beta.sharecad.org/viewer#a170c17e-5933-41fa-a0f1-4576f249fde7349" allowfullscreen></iframe></div>
</div>
</div>