<div class="panel panel-default nonMarginBotPanel">
    <div class="panel-heading">
        <i class="fa fa-building-o fa-fw"></i><b>added information</b>
    </div>

    <div class="panel-body added information">


<head>
<style>
table, th, td {
  border: 1px solid black;
  padding: 1px;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>STEP AP 242</th>
  </tr>
  <tr>
    <th>Features</th>
    <th>Instance</th> 
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
  </tr>
  <tr>
    <th>JT</th>
  </tr>
  <tr>
    <th>Features</th>
    <th>Instance</th> 
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
  </tr>


</body>
       
        </div>


    </div>