<div class="panel panel-default conceptTreePanel nonMarginBotPanel">
	<div class="panel-heading">
	    <i class="fa fa-building-o fa-fw"></i><b>Ontological concepts</b>
        <!-- <button ng-click=getCordinateD3RelationGraph()>GetCodis</button> -->
        <!-- <button ng-click=jsonResult2gridTableResult()>getGridData</button> -->
        <!-- <button ng-click=getMappedDmObjectTypeLeafClassMapping()>GetMap</button> -->
        <!-- <button ng-click=createListOntoConceptLeafClassMapping()>GetMap2</button> -->
        <!-- <button ng-click=createListAppOntoConceptLeafClassMapping()>GetMap3</button> -->
        <!-- <button ng-click=getListConceptNames()>GetListConceptNames</button>  style="float:right; margin-left:5px; margin-right:5px;" -->
        <a href="#aboutModal" data-toggle="modal" data-target="#ontoTreeHelp" class="btn btn-circle-micro btn-primary right">
            <span class="glyphicon glyphicon-question-sign"></span>
        </a>  
	</div>
	<div class="panel-body">


        <!-- INPUT TEXT SEARCH -->
        <!-- <input type="text" class="form-control" placeholder='&#128269; Enter a keyword' ng-model="keyWord"/> -->

		<!-- NAVIGATION TREE -->
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div ng-if="ontologySelection.value == 1">
						<h5></h5>
						<div class="small-text navigation-tree" style="margin-top:5px;">
							<script type="text/ng-template" id="navigationTreeModel.html">
								<ul>
									<li ng-repeat="item in navigationTreeItems.items | filter:keyWord" ng-if="item.name !== 'process'">
										<div ng-if="(item.conceptParentIds === undefined)">
											<img src="data/icons/main-class.png" height="16" width="16" ng-click="item.showed = !item.showed"> 
											<!-- <i class="fa fa-home" ng-click="item.showed = !item.showed"></i> -->
											<span ng-class='item.selected' ng-click="clickNavConcept(item)" ng-dblclick="dblClickNavConcept(item)"> {{item.name}}</span>
											<hr class="breakline_classif">
										</div>
										<div ng-if="item.children.length == 0" >
											<img src="data/icons/main-class.png" height="16" width="16" ng-click="item.showed = !item.showed"> 
											<!-- <i class="fa fa-building-o" aria-hidden="true" ng-click="item.showed = !item.showed"></i> -->
											<span ng-class='item.selected' ng-click="clickNavConcept(item)" ng-dblclick="dblClickNavConcept(item)">{{item.name}}</span>
											<hr class="breakline_classif">
										</div>
										<div ng-if='item.iconClicked && (item.children.length > 0) && (item.conceptParentIds !== undefined)'>
											<img src="data/icons/main-class.png" height="16" width="16" ng-click="item.showed = !item.showed"> 
											<!-- <i class="fa fa-folder-open-o" aria-hidden="true" ng-click="item.showed = !item.showed" style="color:#286090"></i> -->
											<span ng-class='item.selected' ng-click="clickNavConcept(item)" ng-dblclick="dblClickNavConcept(item)"> {{item.name}}</span>
											<hr class="breakline_classif">
										</div>
										<div ng-if='!(item.iconClicked) && (item.children.length > 0) && (item.conceptParentIds !== undefined)'>
											<img src="data/icons/main-class.png" height="16" width="16" ng-click="item.showed = !item.showed"> 
											<!-- <i class="fa fa-folder-o" aria-hidden="true" ng-click="item.showed = !item.showed"></i> -->
											<span ng-class='item.selected' ng-click="clickNavConcept(item)" ng-dblclick="dblClickNavConcept(item)"> {{item.name}}</span>
											<hr class="breakline_classif">
										</div>
										<div ng-if="item.node !== undefined" ng-include=" 'navigationTreeModel.html'" onload="navigationTreeItems={'items':item.node}; nodeLevel = nodeLevel+1" ng-show='item.showed'>
										</div>
									</li>
								</ul>
							</script>
							<div ng-include=" 'navigationTreeModel.html' " onload="navigationTreeItems = navigationTreeModel">
							</div>  
						</div>
					</div>
				</div>
			</div>
		</div>
        
        <!-- ONTOCONCEPT TREE -->
        <h5><u>STEP AP 242</u></h5>
		        <style>h5{
            color:black;
            font-size:20px;
    }
        </style>
        <div class="ontoconcept-tree" ng-if="ontologySelection.value == 1">
            <div class="small-text" style="margin-top:5px;">
                <script type="text/ng-template" id="conceptTreeModel.html">
                    <ul>
                        <li ng-repeat="item in ontoConceptTreeItems.items | filter:keyWord" ng-if="item.name !== 'process'">
                            <div ng-if="(item.conceptParentIds === undefined)">
                                <img src="data/icons/home.png" height="16" width="16" ng-click="clickConceptIcon(item, $event)"> 
                                <!-- <i class="fa fa-home" ng-click="clickConceptIcon(item, $event)"></i> -->
                                <span ng-class='item.selected' ng-click="clickConcept(item)" ng-dblclick="dblClickConcept(item)">{{item.name}}</span>
                                <hr class="breakline_classif">
                            </div>
                            <div ng-if="item.children.length == 0" >
                                <img src="data/icons/ont.png" height="16" width="16" ng-click="clickConceptIcon(item, $event)"> 
                                <!-- <i class="fa fa-building-o" aria-hidden="true" ng-click="clickConceptIcon(item, $event)"></i> -->
                                <span ng-class='item.selected' ng-click="clickConcept(item)" ng-dblclick="dblClickConcept(item)">{{item.name}}</span>
                                <hr class="breakline_classif">
                            </div>
                            <div ng-if='item.iconClicked && (item.children.length > 0) && (item.conceptParentIds !== undefined)'>
                                <img src="data/icons/ont.png" height="18" width="18" ng-click="clickConceptIcon(item, $event)"> 
                                <!-- <i class="fa fa-folder-open-o" aria-hidden="true" ng-click="clickConceptIcon(item, $event)" style="color:#286090"></i> -->
                                <span ng-class='item.selected' ng-click="clickConcept(item)" ng-dblclick="dblClickConcept(item)"> {{item.name}}</span>
                                <hr class="breakline_classif">
                            </div>
                            <div ng-if='!(item.iconClicked) && (item.children.length > 0) && (item.conceptParentIds !== undefined)'>
                                <img src="data/icons/ont.png" height="21" width="21" ng-click="clickConceptIcon(item, $event)"> 
                                <!-- <i class="fa fa-folder-o" aria-hidden="true" ng-click="clickConceptIcon(item, $event)"></i> -->
                                <span ng-class='item.selected' ng-click="clickConcept(item)" ng-dblclick="dblClickConcept(item)"> {{item.name}}</span>
                                <hr class="breakline_classif">
                            </div>
                            <div ng-if="item.node !== undefined" ng-include=" 'conceptTreeModel.html'" onload="ontoConceptTreeItems={'items':item.node}; nodeLevel = nodeLevel+1" ng-show='item.showed'>
                            </div>
                        </li>
                    </ul>
                </script>
                <div ng-include=" 'conceptTreeModel.html' " onload="ontoConceptTreeItems = ontoConceptTreeModel"></div>  
            </div>
        </div>

        <div class="ontoconcept-tree-full" ng-if="ontologySelection.value != 1">
            <div class="small-text" style="margin-top:5px;">
                <script type="text/ng-template" id="conceptTreeModel.html">
                    <ul>
                        <li ng-repeat="item in ontoConceptTreeItems.items | filter:keyWord" ng-if="item.name !== 'process'">
                            <div ng-if="(item.conceptParentIds === undefined)">
                                <img src="data/icons/home.png" height="16" width="16" ng-click="clickConceptIcon(item, $event)"> 
                                <!-- <i class="fa fa-home" ng-click="clickConceptIcon(item, $event)"></i> -->
                                <span ng-class='item.selected' ng-click="clickConcept(item)" ng-dblclick="dblClickConcept(item)">{{item.name}}</span>
                                <hr class="breakline_classif">
                            </div>
                            <div ng-if="item.children.length == 0" >
                                <img src="data/icons/ont.png" height="16" width="16" ng-click="clickConceptIcon(item, $event)"> 
                                <!-- <i class="fa fa-building-o" aria-hidden="true" ng-click="clickConceptIcon(item, $event)"></i> -->
                                <span ng-class='item.selected' ng-click="clickConcept(item)" ng-dblclick="dblClickConcept(item)">{{item.name}}</span>
                                <hr class="breakline_classif">
                            </div>
                            <div ng-if='item.iconClicked && (item.children.length > 0) && (item.conceptParentIds !== undefined)'>
                                <img src="data/icons/ont.png" height="18" width="18" ng-click="clickConceptIcon(item, $event)"> 
                                <!-- <i class="fa fa-folder-open-o" aria-hidden="true" ng-click="clickConceptIcon(item, $event)" style="color:#286090"></i> -->
                                <span ng-class='item.selected' ng-click="clickConcept(item)" ng-dblclick="dblClickConcept(item)"> {{item.name}}</span>
                                <hr class="breakline_classif">
                            </div>
                            <div ng-if='!(item.iconClicked) && (item.children.length > 0) && (item.conceptParentIds !== undefined)'>
                                <img src="data/icons/ont.png" height="21" width="21" ng-click="clickConceptIcon(item, $event)"> 
                                <!-- <i class="fa fa-folder-o" aria-hidden="true" ng-click="clickConceptIcon(item, $event)"></i> -->
                                <span ng-class='item.selected' ng-click="clickConcept(item)" ng-dblclick="dblClickConcept(item)"> {{item.name}}</span>
                                <hr class="breakline_classif">
                            </div>
                            <div ng-if="item.node !== undefined" ng-include=" 'conceptTreeModel.html'" onload="ontoConceptTreeItems={'items':item.node}; nodeLevel = nodeLevel+1" ng-show='item.showed'>
                            </div>
                        </li>
                    </ul>
                </script>
                <div ng-include=" 'conceptTreeModel.html' " onload="ontoConceptTreeItems = ontoConceptTreeModel"></div>  
            </div>
        </div>

        <!-- ONTOCONCEPT MODAL -->

        <div class="modal fade" id="ontoTreeHelp" tabindex="-1" role="dialog" aria-labelledby="ontoTreeModalLabel" aria-hidden="true">
            
					
					<button type="button" class="btn btn-primary" style="background-color:red;color:white;width:200px;
height:40px;" value="Click Me!!" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">STEP AP 242 STANDARD</button>
					

					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Ontological Extension for 3D Standard Enrichement</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body">
							<form>
							  <div class="form-group">
							  <FORM>
								<SELECT name="nom" size="1">
								<OPTION>Selected component.
								<OPTION>AMS_tourelle
								<OPTION>Etoiles
								<OPTION>Moteur
								<OPTION>Pot
								<OPTION>Sécurité
								<OPTION>Support
								</SELECT>
								</FORM>
								<label for="recipient-name" class="col-form-label"> </label>
								<input type="text" class="form-control" id="recipient-name">
							  </div>
								<label for="choix_features">Select the feature:</label>
								<input list="features" type="text" id="choix_features">
									<datalist id="features">
										<option value="Face_bound">
										<option value="Face_outer_bound">
										<option value="Face_shape_element">
										<option value="Face_shape_element_relationship">
										<option value="Face_surface">
										<option value="Face_termination">
										<option value="Geometric_alignment">
										<option value="Geometric_contact">
										<option value="Geomteric_dimesion">
										<option value="Geometric_gap_in_topology">
										<option value="Geometric_intersection">
										<option value="Geometric_model">
										<option value="Geometric_Placement_operation">
										<option value="Geometric_tolerance">
										<option value="GD&T">
										<option value="Manufacturing_features">
										<option value="Kinematics">
										<option value="Product version">
										<option value="Material specification">
										<option value="Model based 3D annotation">
										<option value="Angularity_tolerance">
										<option value="Circular_runout_tolerance">
										<option value="Coaxiality_tolerance">
										<option value="Concentricity_tolerance">
										<option value="Cylindricity_tolerance">
										<option value="Flatness_tolerance">
										<option value="Line_profile_tolerance">
										<option value="Parallelism_tolerance">
										<option value="Perpendicularity_tolerance">
										<option value="Position_tolerance">
										<option value="Roundness_tolerance">
										<option value="Straightness_tolerance">
										<option value="Surface_profile_tolerance">
										<option value="Symmetry_tolerance">
										<option value="Total_runout_tolerance">
										<option value="Material identification">
										<option value="Circular_pattern">
									</datalist>
							  <div class="form-group">
								<label for="message-text" class="col-form-label">Attribut of that selected feature:</label>
								<textarea class="form-control" id="message-text"></textarea>
							  </div>
							  <label for="choix_features">Select the feature:</label>
								<input list="features" type="text" id="choix_features">
									<datalist id="features">
										<option value="Face_bound">
										<option value="Face_outer_bound">
										<option value="Face_shape_element">
										<option value="Face_shape_element_relationship">
										<option value="Face_surface">
										<option value="Face_termination">
										<option value="Geometric_alignment">
										<option value="Geometric_contact">
										<option value="Geomteric_dimesion">
										<option value="Geometric_gap_in_topology">
										<option value="Geometric_intersection">
										<option value="Geometric_model">
										<option value="Geometric_Placement_operation">
										<option value="Geometric_tolerance">
										<option value="GD&T">
										<option value="Manufacturing_features">
										<option value="Kinematics">
										<option value="Product version">
										<option value="Material specification">
										<option value="Model based 3D annotation">
										<option value="Angularity_tolerance">
										<option value="Circular_runout_tolerance">
										<option value="Coaxiality_tolerance">
										<option value="Concentricity_tolerance">
										<option value="Cylindricity_tolerance">
										<option value="Flatness_tolerance">
										<option value="Line_profile_tolerance">
										<option value="Parallelism_tolerance">
										<option value="Perpendicularity_tolerance">
										<option value="Position_tolerance">
										<option value="Roundness_tolerance">
										<option value="Straightness_tolerance">
										<option value="Surface_profile_tolerance">
										<option value="Symmetry_tolerance">
										<option value="Total_runout_tolerance">
										<option value="Material identification">
										<option value="Circular_pattern">
									</datalist>
							  <div class="form-group">
								<label for="message-text" class="col-form-label">Attribut of that selected feature:</label>
								<textarea class="form-control" id="message-text"></textarea>
							  </div>
							  <label for="choix_features">Select the feature:</label>
								<input list="features" type="text" id="choix_features">
									<datalist id="features">
										<option value="Face_bound">
										<option value="Face_outer_bound">
										<option value="Face_shape_element">
										<option value="Face_shape_element_relationship">
										<option value="Face_surface">
										<option value="Face_termination">
										<option value="Geometric_alignment">
										<option value="Geometric_contact">
										<option value="Geomteric_dimesion">
										<option value="Geometric_gap_in_topology">
										<option value="Geometric_intersection">
										<option value="Geometric_model">
										<option value="Geometric_Placement_operation">
										<option value="Geometric_tolerance">
										<option value="GD&T">
										<option value="Manufacturing_features">
										<option value="Kinematics">
										<option value="Product version">
										<option value="Material specification">
										<option value="Model based 3D annotation">
										<option value="Angularity_tolerance">
										<option value="Circular_runout_tolerance">
										<option value="Coaxiality_tolerance">
										<option value="Concentricity_tolerance">
										<option value="Cylindricity_tolerance">
										<option value="Flatness_tolerance">
										<option value="Line_profile_tolerance">
										<option value="Parallelism_tolerance">
										<option value="Perpendicularity_tolerance">
										<option value="Position_tolerance">
										<option value="Roundness_tolerance">
										<option value="Straightness_tolerance">
										<option value="Surface_profile_tolerance">
										<option value="Symmetry_tolerance">
										<option value="Total_runout_tolerance">
										<option value="Material identification">
										<option value="Circular_pattern">
									</datalist>
							  <div class="form-group">
								<label for="message-text" class="col-form-label">Attribut of that selected feature:</label>
								<textarea class="form-control" id="message-text"></textarea>
							  </div>
							  
							  <div class="form-group">
								<label for="message-text" class="col-form-label">Specify category:</label>

							  <FORM>
								<SELECT name="nom" size="1">
								<OPTION>
								<OPTION>Bill of material
								<OPTION>GD&T
								<OPTION>Manufacturing features
								<OPTION>Kinematics
								<OPTION>Product version
								<OPTION>Material specification
								<OPTION>Model based 3D annotation
								<OPTION>Extended features
								</SELECT>
								</FORM>
							  </div>
							</form>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-primary" style="background-color:blue;color:white;width:250px;
height:30px;" value="Click Me!!" >Add another feature and attribut</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:blue;color:white;width:60px;
height:30px;" value="Click Me!!">Close</button>
						  </div>
						</div>
					  </div>
					</div>
<!--ttytytyt-->
                    
        </div>


        <!-- DESCRIPTION DU CONCEPT -->
        <!-- <h5><u>Concept description</u></h5>
        <span>Selected concept:</span> <font color="#d9534f;"> {{currentSelectedConcept.name}}</font> <br>
        <span>Annotation: </span>
        <div name="input" style="float:center;height:80px;width:100%;border-radius:5px;overflow:auto;" class="small-text" required ng-trim="false">
            <ul>
                <li ng-repeat="annotation in currentSelectedConcept.annotations">
                    + <i>[type: {{annotation.type}}]</i> {{annotation.comment}}
                </li>
            </ul>
        </div> -->
    </div>
</div>