<div class="panel panel-default relationGraphPanel nonMarginBotPanel">
	<div class="panel-heading">
    	<i class="fa fa-building-o fa-fw"></i><b>Ontological Extension for 3D Standard Enrichment</b>
        <!-- <label ng-if="ontologySelection.value == 1"><i><u>The appOnto relation graph is currently blank.</u></i></label> -->
    	<a href="#aboutModal" data-toggle="modal" data-target="#conceptRelationHelp" class="btn btn-circle-micro btn-primary" style="float:right;">
      	<span class="glyphicon glyphicon-question-sign"></span>
    	</a>
    	<button type="button" class="btn btn-info btn-xs" style="float:right; margin-right:5px;" ng-click="resetD3RelationGraph()">Reset</button>
        <!-- <button type="button" class="btn btn-danger btn-xs" style="float:right; margin-right:5px;" ng-click="fnDisplayD3RelationGraph()">Display</button> -->
    </div>
    <div class="panel-body" style="height: 55vh;" id="relationGraph">
        <div id="d3RelationGraph"></div>
    </div>
    <div class="modal fade" id="conceptRelationHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                  <h4 class="modal-title" id="myModalLabel"></h4>
                  </div>
              <div class="modal-body">
                  <ul class="list">
                    <font color="red"> Double click on a highlighted node to see its childreen</font>
                  </ul>
              </div>
              <div class="modal-footer">
                  <center>
                  <button type="button" class="btn btn-circle-sm btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                  </center>
              </div>
          </div>
      </div>
	</div> 
</div> 