

	<div class="panel-body QUERYING 3D FILE">



			<img src="data/images/windchill_requête1.png" .$cfet[' productimage']."' width='550' height='250'>

	</div>
	 <!--<div <img src="data/images/windchill_requête1.png" .$cfet[' productimage']."' width='600' height='450'>-->
</div>