<div class="panel panel-default nonMarginBotPanel">
    <div class="panel-heading">
        <i class="fa fa-building-o fa-fw"></i><b>STEP: Available entities</b>
    </div>
    <div class="panel-body Existing features">
        <!--<iframe
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT001eQ0niUmbTH8kyrqOpaTp2gcLP08fD2JZczaTu762_97dgRMQRrV57cQQPstA/pubhtml?widget=true&amp;headers=false"></iframe>-->
        <iframe width="555" height="250"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTDqzkW9HA-JLzlH9gJh1wnh6DMd8FU1CvoEM2xUJTj4ELR9n1gnMoDNBqomYzbnA/pubhtml"></iframe>

            
    </div>
</div>