<div class="panel panel-default nonMarginBotPanel">
    <div class="panel-heading">
        <i class="fa fa-building-o fa-fw"></i><b>View detail information</b>
    </div>

    <style>dfwdfxdfhdf
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 2px;
            text-align: left;
        }
    </style>

    <table id="example" class="display nowrap" style="width:100%">
        <tr>
            <th>STEP AP 242
            </th>
        </tr>
        <tr>
            <th>Features</th>
            <th>Instance</th>
        </tr>
        <tr>
            <td style="color:blue;">Material_wear</td>
            <td style="color:blue;"><I>Tear in contact with the movement</I></td>
        </tr>
        <tr>
            <td style="color:blue;">cycle_time</td>
            <td style="color:blue;"><I>10 min</I></td>
        </tr>
        <tr>
            <td style="color:blue;">Throughput</td>
            <td style="color:blue;"><I>10 pot/rotation</I></td>
        </tr>
        <tr>
            <td style="color:blue;">System_wear</td>
            <td style="color:blue;"><i>Joint corrosion</i></td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
        </tr>
    </table>


    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <!--<button id="btnfile">
    <label><input type="checkbox" checked="checked" name="remember"></label>
    <img src="data/icons/mesure de distance.png" .$cfet[' productimage']."' width='40' height='40'>
    <i class='btnfile' onclick="fileInput.click();">Distance measurement</i>
</button>-->
            <button id="btnfile1">
                <label><input type="checkbox" checked="checked" name="remember"></label>
                <img src="data/images/reseed.png" .$cfet[' productimage']."' width='40' height='40'>
                <i class='btnfile1' onclick="fileInput.click();">Save view PMI</i>
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button id="btnfile2">
                <label><input type="checkbox" checked="checked" name="remember"></label>
                <img src="data/icons/tolérance et annotation.png" .$cfet[' productimage']."' width='55' height='40'>
                <i class='btnfile2' onclick="fileInput.click();">Annotation tolerance</i>
            </button>

            <!--<button id="btnfile">
    <label><input type="checkbox" checked="checked" name="remember"></label>
    <img src="data/icons/afficher uune dimension.png" .$cfet[' productimage']."' width='40' height='40'>
    <i class='btnfile' onclick="fileInput.click();">Dimension</i>
</button>-->
        </div>

    </div>

</div>





<div class="modal-footer">
    <!--<button type="button" class="btn btn-primary" style="background-color:rgb(65, 65, 70);color:white;width:250px;
height:30px;" value="Click Me!!">Add another feature and attribut</button>-->
    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:rgb(65, 65, 70);color:white;width:150px;
height:30px;" value="Click Me!!">Export information</button>
    <script>
        var table = $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: ['pdfHtml5', 'csvHtml5', 'copyHtml5', 'excelHtml5']
                }
            ]
        });
    </script>

</div>