<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Annotations</title>
</head>

<body>

	<header>
		<h1>Annotation des opérations selon les sous-catégories définies dans STEP-NC</h1>
	</header>

	<section>
        <div>
            <form action = "{% url 'ontoRequests:changeOPType' %}" method="post">
            {% csrf_token %}
            <input type="text" id="ChangeType" name = "ChangeType" value="ChangeType" visibility = "hidden" />
                <table>
                    <tr>
                        <th>Operation</th>
                        <th>Outil</th>
                        <th>Selection d'OP</th>
                    </tr>
                    {% for i in itemList %}
                        <tr{% if forloop.counter|divisibleby:2 %} style="background-color : #DDDDDD" {% endif %}>
                            <td>{{ i.0 }}</td>
                            <td>{{ i.1 }}</td>
                            <td>
                                <SELECT name = "op_type.{{ i.0 }}">
                                    <option selected>SKIP</option>
                                    {% for j in classList %}
                                        <option>{{ j }}</option>
                                    {% endfor %}
                                </SELECT>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value = "Mettre à jour" />
            </form>
        </div>
	</section>

	<footer>
		<p>UTC - Roberval 2018</p>
	</footer>

</body>

</html>
