<!DOCTYPE HTML>
<!-- {% csrf_token %} -->
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Champ de requête OntoMAP</title>
</head>

<body>

	<header>
		<h1>Page de saisie de requêtes</h1>
	</header>

	<section>
		<form action="{% url 'ontoRequests:executeQuery' %}" method="post">
		{% csrf_token %}
			<textarea rows = "8" cols = "150" name = "query" style = "visibility:{{ visibility }}">Type your request in here.</textarea><br />
            <input type="radio" name="graph" id="no" value = "no" checked = "checked"/>
			<label for = "visible">Table</label><br />

			<input type="radio" name="graph" id="yes" value = "yes"/>
			<label for = "visible">Graphe</label><br />
			<input type="submit" value="Lancer" />
		</form>
	</section>

	<footer>
		<p>UTC - Roberval 2018</p>
	</footer>

</body>

</html>
