<!DOCTYPE HTML>
<!-- {% csrf_token %} -->
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Accueil OntoMAP</title>
</head>

<body>

	<header>
		<h1>Bienvenue sur la page d'accueil du démonstrateur OntoMAP</h1>
	</header>

	<section>

		<form action="{% url 'ontoRequests:retrieveQuery' %}" method="post">
			{% csrf_token %}
			<!-- <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    		<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br /> -->

			<input type="radio" name="visib" id="visible" value = "visible" checked = "checked"/>
			<label for = "visible">Visible</label><br />

			<input type="radio" name="visib" id="hidden" value = "hidden"/>
			<label for = "visible">Caché</label><br />

			<input type="submit" value = "Lancer" />
		</form>
        <a href = "{% url 'ontoRequests:changeOPType' %}">Page d'annotations</a><br />
        <a href = "{% url 'ontoRequests:addStrategyToTwo5D' %}">Sélectionner la stratégie utilisée</a>

	</section>

	<footer>
		<p>UTC - Roberval 2018</p>
	</footer>

</body>

</html>
