<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Annotations</title>
</head>

<body>

	<header>
		<h1>Annotation des opérations selon les stratégies définies dans STEP-NC</h1>
	</header>

	<section>
        <div>
            <form action = "{% url 'ontoRequests:addStrategyToTwo5D' %}" method="post">
            {% csrf_token %}
            <input type="text" id="AddStrategy" name = "AddStrategy" value="AddStrategy" style="display:none" />
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Trajectoire</th>
                        <th>Stratégie</th>
                    </tr>
                    {% for i in itemList %}
                        <tr{% if forloop.counter|divisibleby:2 %} style="background-color : #DDDDDD" {% endif %}>
                            <td>{{ i.0 }}</td>
                            <td><img alt="{{ i.0 }}" src="data:image/png;base64,{{ i.1 }}" /></td>
                            <td>
                                <SELECT name = "strat.{{ i.0 }}">
                                    <option selected>SKIP</option>
                                    {% for j in stratList %}
                                        <option>{{ j }}</option>
                                    {% endfor %}
                                </SELECT>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value = "Mettre à jour" />
            </form>
        </div>
	</section>

	<footer>
		<p>UTC - Roberval 2018</p>
	</footer>

</body>

</html>