<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Résultats OntoMAP</title>
</head>

<body>

	<header>
		<h1>Affichage des résultats de requête.</h1>
	</header>

	<section>

		<div>
            {% if isGraph %}
                <img alt="myGraph" src="data:image/png;base64,{{ graph }}" />
            {% else %}
                {% if varsName|length > 1 %}
                    <table>
                        <tr>
                            {% for var in varsName %}
                                <th>{{ var }}</th>
                            {% endfor %}
                        </tr>
                        {% for i in itemList %}
                            <tr style="background-color : {% cycle '#DDDDDD' '#FFFFFF' %} "><!--{{ i }}-->
                                {% for j in i %}
                                    <td>{{ j }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    {% if not isFinal %}
                        <form action="{% url 'ontoRequests:executeQuery' %}" method="post">
                            {% csrf_token %}
                            {% for i in itemList %}
                                <input type="radio" name="toolID" id="tool{{forloop.counter}}" value="{{ i }}" {% if forloop.counter == 1 %}checked = "checked"{% endif %} />
                                <label for="tool{{forloop.counter}}">{{ i }}</label><br />
                            {% endfor %}
                            <input type="submit" value = "Seléctionner" />
                    {% else %}
                        <ul>
                            {% for i in itemList %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
		</div>

	</section>

	<footer>
		<p>UTC - Roberval 2018</p>
	</footer>

</body>

</html>
